<aside class="sidebar">
  <nav class="sidebar-nav">
    <ul>
      <li>
        <span class="tick">✓</span>
        <a href="pages/home/home.html" data-page>Home</a>
        <div class="separator"></div>
      </li>
      <li>
        <span class="tick">✓</span>
        <a href="pages/about/about.html"">About</a>
        <div class="separator"></div>
      </li>
      <li>
        <span class="tick">✓</span>
        <a href="#">Activities</a>
        <div class="separator"></div>
      </li>
      <li>
        <span class="tick">✓</span>
        <a href="#">Blog</a>
        <div class="separator"></div>
      </li>
      <li>
        <span class="tick">✓</span>
        <a href="#">Events</a>
        <div class="separator"></div>
      </li>
      <li>
        <span class="tick">✓</span>
        <a href="#">Gallery</a>
        <div class="separator"></div>
      </li>
      <li>
        <span class="tick">✓</span>
        <a href="#">Shop</a>
        <div class="separator"></div>
      </li>
      <li>
        <span class="tick">✓</span>
        <a href="#">Enquiry</a>
        <div class="separator"></div>
      </li>

    </ul>
  </nav>

